@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300..700&display=swap');

:root {
    --blue-color: #12b0db;
    --red-color: #d90019;
    --mint-color: #aaf0d1;
}

body{
    font-family: Quicksand;
    background-color: #313131;
}

.admin-color{
    background: -webkit-linear-gradient(45deg, #1cb0ff, #1fff62);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.user-color{
    color: lightblue
}

.hidden-input{
    visibility: hidden;
}

/* NAVBAR */
.d-inline{
    display: inline-block;
}

.navbar-user-logo{
    height: auto;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
}

.currently-chosen{
    color:var(--mint-color) !important;
}

/* USER PROFILE */
.top-profile-border{
    border-radius: 20px 20px 0 0;
}
.left-profile-border{
    border-radius: 0 0 0 20px;
}
.right-profile-border{
    border-radius: 0 0 20px 0;
}
.btn-edit{
    text-transform: uppercase;
    color: #fff;
    background-color: var(--blue-color);
}
.btn-delete{
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red-color);
}
.profile-pic{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--mint-color);
}
.profile-table th{
    border-top: 0;
    border-bottom: 1px solid white;
}

.pill-red{
    padding: 5px 20px !important;
    background-color: var(--red-color);
    border-radius: 30px;
}
.pill-blue{
    padding: 5px 30px !important;
    background-color: var(--blue-color);
    border-radius: 30px;
}
.total-positive{
    background-color: #a2ff9680;
}
.total-negative{
    background-color: #ff372880;
}

/* Choose Games page */
.games-card {
    position: relative;
    width: 85%;
    border-radius: 24px;
    border: 2px solid white;
}

.games-card img {
    border-radius: 24px 24px 0 0;
}

.games-cover-title{
    font-size: 24px;
    font-weight: 400;
}

.games-cover-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}